Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# only show errors
skip_output:
  - meta
  - success
  - summary

# alias for the phpcs command
x-phpcs: &phpcs
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

# phpcs
pre-commit:
  parallel: true
  commands:
    phpcs-core-plugin:
      glob: "wp-content/plugins/core/*.php"
      <<: *phpcs
    phpcs-core-theme:
      glob: "wp-content/themes/core/*.php"
      <<: *phpcs
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      <<: *phpcs

# prefix with jira ticket
prepare-commit-msg:
  scripts:
    "prefix-with-jira-ticket.php":
      runner: php

[SQONE-519]: documentation clean up.
  wp-content/themes/core/assets/css/src/theme/transitions/_variables.pcss
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/navigation/js/site-header.js
  wp-content/themes/core/components/site_header/js/site-header.js
Due: none

[SQONE-519]: phpstan fixes.
  wp-content/themes/core/components/subheader/subheader-single.php
Due: phpcs-core-theme

[SQONE-519]: bug fix.
  wp-content/themes/core/components/navigation/css/site-header.pcss
Due: none

[SQONE-519]: Use logical logic.
  wp-content/themes/core/components/subheader/subheader-single.php
Due: phpcs-core-theme

[SQONE-710]: added region role to accordion tab content
  wp-content/themes/core/components/accordion/Accordion_Controller.php
Due: phpcs-core-theme

[SQONE-710]: updated acf gallery field for better display in sidebar
  wp-content/themes/core/assets/css/src/admin/_variables.pcss
  wp-content/themes/core/assets/css/src/admin/block-editor/acf.pcss
  wp-content/themes/core/assets/js/src/admin/core/ready.js
  wp-content/themes/core/assets/js/src/admin/editor/acf-gallery.js
Due: none

[SQONE-519]: CR repairs.
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/site_header.php
  wp-content/themes/core/routes/single/Single_Controller.php
Due: phpcs-core-theme

Replace Configure SMTP plugin with WP Mail SMTP
  composer.json
  composer.lock
Due: none

[SQONE-710]: removed link header field
  wp-content/plugins/core/src/Blocks/Types/Links/Links.php
  wp-content/themes/core/components/blocks/links/links.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-710]: updated links block styles to better match designs
  wp-content/themes/core/components/blocks/links/css/links.pcss
Due: none

[SQONE-710]: updated leadin font
  wp-content/themes/core/components/blocks/links/css/links.pcss
Due: none

[SQONE-710]: stylesheet spacing
  wp-content/themes/core/components/blocks/links/css/links.pcss
Due: none

Creates setting and tab contracts
  wp-content/plugins/core/src/Object_Meta/Contracts/Abstract_Settings_With_Tab.php
  wp-content/plugins/core/src/Object_Meta/Contracts/Abstract_Tab.php
  wp-content/plugins/core/src/Object_Meta/Contracts/With_Key.php
  wp-content/plugins/core/src/Object_Meta/Contracts/With_Title.php
Due: phpcs-core-plugin

Splits theme options into separate tab-files
  wp-content/plugins/core/src/Object_Meta/Analytics_Settings.php
  wp-content/plugins/core/src/Object_Meta/Footer_Settings.php
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Object_Meta/Social_Settings.php
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/plugins/core/src/Object_Meta/Theme_Setting_Tabs.php
Due: phpcs-core-plugin

Fixes getting settings values
  wp-content/plugins/core/src/Integrations/Google_Tag_Manager/GTM_Scripts.php
  wp-content/themes/core/components/follow/Follow_Controller.php
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Renames class
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Object_Meta/Theme_Setting.php
Due: phpcs-core-plugin

Creates standalone file and action for registerBlockType filter
  wp-content/themes/core/assets/js/src/admin/core/ready.js
  wp-content/themes/core/assets/js/src/admin/editor/register-block-filter.js
Due: none

Complete block middleware readme new `wp s1 generate` command docs, notes about outdated videos.
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

Remove empty Post Loop README.md
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/README.md
Due: none

Update repeater examples in the Color_Theme README.md
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/README.md
Due: none

Update note to link to color theme readme with current example code
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

Update changelog.md
  changelog.md
Due: none

Add changelog entry for removal of Colors class and its replacement
  changelog.md
Due: none

[SQONE-698]: Delete tribe-admin-dashboard plugin
  wp-content/plugins/tribe-admin-dashboard/README.md
  wp-content/plugins/tribe-admin-dashboard/Tribe_AdminDashboard.php
  wp-content/plugins/tribe-admin-dashboard/composer.json
  wp-content/plugins/tribe-admin-dashboard/tribe-admin-dashboard.php
Due: none

[SQONE-698]: Stop force activation of removed tribe-acf-post-list-field
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

[SQONE-698]: bump docker PHP version to PHP80
  dev/docker/docker-compose.yml
Due: none

[SQONE-698]: Fix PHPCS failing due to WordPress's terrible type handling
  phpcs.xml.dist
Due: none

[SQONE-698]: Update composer dependencies for PHP80 support, tribe libs to the 4.x release, remove dependencies tribe libs provides, plugin updates
  composer.json
  composer.lock
Due: none

[SQONE-698]: Update workflows to use PHP80
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/phpcs.yml
Due: none

[SQONE-698]: New tests dump.sql, to remove certain active plugins that don't need to be activated
  dev/tests/tests/_data/dump.sql
Due: none

[SQONE-698]: Replace function mocker with brain monkey
  composer.json
  composer.lock
Due: none

[SQONE-698]: Add new Unit base class which configures Brain Monkey
  dev/tests/tests/_support/Classes/Unit.php
Due: none

[SQONE-698]: Remove function mocker from tests bootstrapping
  dev/tests/tests/_bootstrap.php
  dev/tests/tests/integration/_bootstrap.php
  dev/tests/tests/unit/_bootstrap.php
Due: none

[SQONE-698]: Refactor Max_Length_CounterTest.php to use brain monkey, so it now passes
  dev/tests/tests/unit/Tribe/Project/Integrations/ACF/Max_Length_CounterTest.php
Due: none

[SQONE-698]: Update MiddlewareGuardTest.php to use new Unit base
  dev/tests/tests/unit/Tribe/Project/Block_Middleware/Guards/MiddlewareGuardTest.php
Due: none

[SQONE-698]: Update changelog.md
  changelog.md
Due: none

[SQONE-698]: Add removal of tribe admin dashboard plugin to the changelog
  changelog.md
Due: none

[SQONE-698]: Fix incomplete sentence in changelog
  changelog.md
Due: none

[SQONE-698]: Bump tribe libs to 4.0.4
  composer.lock
Due: none

[SQONE-698]: Bring back szepeviktor/phpstan-wordpress, is not running via extension installer via tribe libs
  composer.json
  composer.lock
Due: none
