Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

[SQONE-270]: Small styling improvements.
  wp-content/themes/core/components/navigation/css/site-footer.pcss
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
Due: none

WordPress plugin updates.
  composer.json
  composer.lock
Due: none

Changelog entry.
  changelog.md
Due: none

Refactor manual post term replacement
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/CategoryTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/TermManagerTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Category.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Subscriber.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Term_Manager.php
Due: phpcs-core-plugin

Remove unneeded method
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

Allow faux post ID's to be passed to core functions. Add faux post check to post proxy
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopControllerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostProxyTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Proxy.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
  wp-content/themes/core/routes/index/Index_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Use primary term in content loop controller
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

Use $post->ID for date fetching now that we can
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

[SQONE-705]: remove unsupported browser feature
  gulp-tasks/watch.js
  wp-content/plugins/core/src/Assets/Assets_Subscriber.php
  wp-content/plugins/core/src/Assets/Theme/Legacy_Check.php
  wp-content/plugins/core/src/Theme/Config/Web_Fonts.php
  wp-content/plugins/core/src/Theme/Theme_Subscriber.php
  wp-content/themes/core/assets/css/src/theme/legacy.pcss
  wp-content/themes/core/assets/img/theme/legacy-browser/chrome.svg
  wp-content/themes/core/assets/img/theme/legacy-browser/edge.svg
  wp-content/themes/core/assets/img/theme/legacy-browser/firefox.svg
  wp-content/themes/core/assets/img/theme/legacy-browser/safari.svg
  wp-content/themes/core/assets/js/src/utils/tests.js
  wp-content/themes/core/routes/unsupported_browser/Unsupported_Browser_Controller.php
  wp-content/themes/core/routes/unsupported_browser/css/_variables.pcss
  wp-content/themes/core/routes/unsupported_browser/css/unsupported-browser.pcss
  wp-content/themes/core/routes/unsupported_browser/unsupported_browser.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-705]: revert tests.js change - required to test for edge
  wp-content/themes/core/assets/js/src/utils/tests.js
Due: none

Abstract out manual post functionality from the post loop controller
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopControllerTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Manual_Post_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Model_Middleware/Post_Loop_Field_Model_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Cache_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
  wp-content/themes/core/routes/index/Index_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Add PostCacheManagerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostCacheManagerTest.php
Due: none

Add comment
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

Assert the cached post is the same as the proxied post object
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostCacheManagerTest.php
Due: none

Keep the old assertion as well
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostCacheManagerTest.php
Due: none

Improve comment
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Term_Manager.php
Due: phpcs-core-plugin

Use same comment in the definer
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Definer.php
Due: phpcs-core-plugin

Add comment
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Manual_Post_Manager.php
Due: phpcs-core-plugin

Utilize the underlying post instead of proxying the ID for faux checks
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Proxy.php
Due: phpcs-core-plugin

bump tribe-libs to 3.5.0
  composer.json
  composer.lock
Due: none

Update file test.
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
Due: phpcs-core-theme

bump tribe libs to 3.5.0
  composer.json
  composer.lock
Due: none

[SQONE-705]: remove all references to legacy content
  gulp-tasks/cssnano.js
  gulp-tasks/header.js
  gulp-tasks/postcss.js
  gulp-tasks/stylelint.js
  gulp-tasks/watch.js
  gulpfile.js
  wp-content/plugins/core/src/Assets/Theme/Styles.php
  wp-content/plugins/core/src/Assets/Theme/Theme_Build_Parser.php
  wp-content/themes/core/assets/css/src/theme/legacy.pcss
Due: phpcs-core-plugin

Use underlying post object when getting the date
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

Use named constants for controllers using post loop middleware
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

Add video guide screencasts
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

[SQONE-705]: Remove legacy styles handling in asset parsers.
  wp-content/plugins/core/src/Assets/Theme/Styles.php
  wp-content/plugins/core/src/Assets/Theme/Theme_Build_Parser.php
Due: phpcs-core-plugin

[SQONE-705]: Remove remaining legacy build tasks.
  gulp-tasks/cssnano.js
  gulp-tasks/header.js
  gulp-tasks/postcss.js
  gulp-tasks/stylelint.js
  gulp-tasks/watch.js
  gulpfile.js
  webpack.config.js
Due: none

[SQONE-705]: Fix merge conflict.
  wp-content/plugins/core/src/Assets/Theme/Styles.php
Due: phpcs-core-plugin

[SQONE-705]: add changelog entry
  changelog.md
Due: none

[SQONE-270]: DQA fixes.
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
Due: none

[SQONE-270]: Add footer CTA fields per designs.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
Due: phpcs-core-plugin

[SQONE-270]: Add CTAs to site footer component.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
  wp-content/themes/core/components/site_footer/site_footer.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Style footer CTAs
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
Due: phpcs-core-theme

[SQONE-270]: Add correct reverse coloring on hover & focus for secondary button.
  wp-content/themes/core/assets/css/src/theme/actions/_mixins.pcss
Due: none

[SQONE-270]: Add comments.
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
Due: none

Set static analysis format to GitHub in Action
  .github/workflows/phpcs.yml
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
