Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# only show errors
skip_output:
  - meta
  - success
  - summary

# alias for the phpcs command
x-phpcs: &phpcs
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

# phpcs
pre-commit:
  parallel: true
  commands:
    phpcs-core-plugin:
      glob: "wp-content/plugins/core/*.php"
      <<: *phpcs
    phpcs-core-theme:
      glob: "wp-content/themes/core/*.php"
      <<: *phpcs
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      <<: *phpcs

# prefix with jira ticket
prepare-commit-msg:
  scripts:
    "prefix-with-jira-ticket.php":
      runner: php

update WP to v6.0.2
  composer.json
  composer.lock
Due: none

add theme.json
  wp-content/themes/core/theme.json
Due: none

fix image block alignment with theme.json markup change
  wp-content/themes/core/assets/css/src/theme/layouts/default.pcss
  wp-content/themes/core/assets/css/src/theme/media/alignment.pcss
  wp-content/themes/core/assets/css/src/theme/media/images.pcss
  wp-content/themes/core/assets/css/src/theme/spacing/sink.pcss
  wp-content/themes/core/components/blocks/links/css/links.pcss
Due: none

Remove merged whitespace changes
  composer.json
Due: none

Revert all whitespace changes... again
  composer.json
  composer.lock
Due: none

Remove references to any smtp plugins
  composer.json
  composer.lock
Due: none

Update changelog
  changelog.md
Due: none

remove failing tests so deployment works
  dev/tests/tests/acceptance/SquareOneExampleCest.php
  dev/tests/tests/acceptance/Tribe/Project/Object_Meta/Post_Archive_SettingsCest.php
  dev/tests/tests/acceptance/Tribe/Project/Object_Meta/Taxonomy_Archive_SettingsCest.php
Due: none

downgrade php in composer
  composer.json
  composer.lock
Due: none

Update required phpversion
  composer.json
Due: none

Update php version correctly :(
  composer.json
Due: none

another php version format test
  composer.json
Due: none

Make sure composer.lock is up to date
  composer.lock
Due: none

Strip `social_` prefix from site name so, the icon CSS class is correct
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-theme

Update changelog.md
  changelog.md
Due: none

Bugfix: Follow component social icon CSS class (#1047)
  changelog.md
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-theme

Fix get_author_id typing
  wp-content/themes/core/routes/single/Single_Controller.php
Due: phpcs-core-theme

enable WP button and media & text blocks
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/plugins/core/src/Blocks/Types/Media_Text/Media_Text.php
Due: phpcs-core-plugin

enable spacing and border block settings
  wp-content/themes/core/theme.json
Due: none

Add styles for the default consent field from Gravity Forms.
  wp-content/themes/core/components/blocks/links/css/links.pcss
  wp-content/themes/core/integrations/gravity-forms/css/controls/consent.pcss
  wp-content/themes/core/integrations/gravity-forms/index.pcss
Due: none

disable WP buttons block
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
Due: phpcs-core-plugin

update color palette and enable group block border radius
  wp-content/themes/core/theme.json
Due: none

add spacing scale
  wp-content/themes/core/theme.json
Due: none

enable spacing settings on group block
  wp-content/themes/core/theme.json
Due: none

enable block default gradients
  wp-content/plugins/core/src/Blocks/Theme_Support.php
  wp-content/themes/core/theme.json
Due: phpcs-core-plugin

enable WP cover block
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
Due: phpcs-core-plugin

Update changelog.
  changelog.md
Due: none

Bugfix: Single Controller `get_author_id()` now returns an integer type instead of a string. (#1048)
  changelog.md
  wp-content/themes/core/routes/single/Single_Controller.php
Due: phpcs-core-theme

Add merge marker detection
  .lefthook/pre-commit/detect-merge-markers.sh
  lefthook.yml
Due: none

Remove Configure SMTP plugin (#1033)
  changelog.md
  composer.json
  composer.lock
Due: none

Update wordpress-stubs.patch to match the latest version of the wordpress-stubs package
  changelog.md
  composer.lock
  dev/patches/wordpress-stubs.patch
Due: none

Update WP to 6.0.2, and available plugins to their latest version.
  composer.json
  composer.lock
Due: none

Fix wrong array shape for WP_Customize_Media_Control() (string passed instead of array).
  wp-content/plugins/core/src/Theme/Branding/Customizer_Settings.php
Due: phpcs-core-plugin

Update tests dump.sql db for WP 6.0.2
  dev/tests/tests/_data/dump.sql
Due: none

Fix notices being thrown in the customizer on WP 6.0.2
  wp-content/plugins/core/src/Theme/Config/Supports.php
Due: phpcs-core-plugin

Chore: WP 6.0.2 update (#1052)
  changelog.md
  composer.json
  composer.lock
  dev/patches/wordpress-stubs.patch
  dev/tests/tests/_data/dump.sql
  wp-content/plugins/core/src/Theme/Branding/Customizer_Settings.php
  wp-content/plugins/core/src/Theme/Config/Supports.php
Due: phpcs-core-plugin
