Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Fixed formatting.
  changelog.md
Due: none

SQONE-718: Remove extraneous quote in primary nav walker (#1062)
  changelog.md
  wp-content/plugins/core/src/Nav_Menus/Walker/Walker_Nav_Menu_Primary.php
Due: phpcs-core-plugin

Fixed using the incorrect (or no) editor.
  wp-content/themes/core/assets/js/src/admin/editor/tribe-tinymce.js
Due: none

Updated changelog.
  changelog.md
Due: none

Fix for multiple TinyMCE editors on the same page (#1063)
  changelog.md
  wp-content/themes/core/assets/js/src/admin/editor/tribe-tinymce.js
Due: none

Remove deprecated action commands, fix PHP versions, use composer install action, update actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/dokku-deploy.yml
  .github/workflows/eslint.yml
  .github/workflows/phpcs.yml
Due: none

composer update
  composer.json
  composer.lock
Due: none

Update changelog.md
  changelog.md
Due: none

Test: break phpcs
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

Roll back phpcs test
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

Test: add new valid class to force phpcs to run
  wp-content/plugins/core/src/Temp.php
Due: phpcs-core-plugin

Try passing only changed files to phpstan
  .github/workflows/phpcs.yml
Due: none

phpstan only accepts directories for some reason...
  .github/workflows/phpcs.yml
Due: none

Remove phpstan github error formatting, it doesn't show the file or line where the error occurred
  .github/workflows/phpcs.yml
Due: none

Fix bad number of parameters
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

Delete Temp test class
  wp-content/plugins/core/src/Temp.php
Due: phpcs-core-plugin

Feature: GitHub workflow updates (#1064)
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/dokku-deploy.yml
  .github/workflows/eslint.yml
  .github/workflows/phpcs.yml
  changelog.md
  composer.json
  composer.lock
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

Fix php version typo
  .github/workflows/ci.yml
Due: none

Fix php version typo (#1065)
  .github/workflows/ci.yml
Due: none

Modernize browserlist.
  changelog.md
  package.json
Due: none

Improve remove_editor_style_reset
  wp-content/plugins/core/src/Assets/Admin/Styles.php
Due: phpcs-core-plugin

Clean up PHPStan ignores
  phpstan-baseline.neon
  phpstan.neon.dist
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
Due: phpcs-core-plugin

Clean up PHPStan ignores (#1068)
  phpstan-baseline.neon
  phpstan.neon.dist
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
Due: phpcs-core-plugin

Revert "not dead" browserlist key change. Update caniuse db to latest.
  package.json
  yarn.lock
Due: none

Changelog entry.
  changelog.md
Due: none

Update changelog
  changelog.md
Due: none

Clean up PHPStan ignores (#1068) (#1069)
  changelog.md
  phpstan-baseline.neon
  phpstan.neon.dist
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
Due: phpcs-core-plugin

Allow hiding certain embed variation instead of hiding whole embed block
  wp-content/themes/core/assets/js/src/admin/editor/deny-blocks.js
Due: none

Update docker-compose.yml for docker compose v2.17.x
  changelog.md
  dev/docker/docker-compose.yml
Due: none

Update docker-compose.yml for docker compose v2.17.x (#1073)
  changelog.md
  dev/docker/docker-compose.yml
Due: none

Update minimum PHP version, WP and plugins.
  composer.json
  composer.lock
Due: none

Fix deprecation notices in PHP 8.2
  wp-content/memcached-object-cache.php
Due: none

Update tests dump.sql
  dev/tests/tests/_data/dump.sql
Due: none

Feature: PHP 8.2 support (#1074)
  changelog.md
  composer.json
  composer.lock
  dev/tests/tests/_data/dump.sql
  wp-content/memcached-object-cache.php
Due: none

Add depreaction notice to project README.md.
  README.md
Due: none

Update notice format.
  README.md
Due: none

Remove Gravity Forms as a composer dependency.
  .env.sample
  composer.json
Due: none

Update ACF Pro Composer install configuration to modern standards.
  .env.sample
  .gitignore
  auth-sample.json
  composer.json
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
