Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

[SQONE-519]: tweak.
  wp-content/themes/core/components/site_header/index.js
Due: none

[SQONE-519]: Drop clear button and related from search form (it's unnecessary) and add site header search form conditional styles.
  wp-content/themes/core/components/search_form/Search_Form_Controller.php
  wp-content/themes/core/components/search_form/css/search-form.pcss
  wp-content/themes/core/components/search_form/search_form.php
Due: phpcs-core-theme

[SQONE-519]: Handle search flyout interaction.
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/search_form/css/search-form.pcss
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/js/site-header.js
Due: none

[SQONE-519]: Make naming consistent.
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/index.js
  wp-content/themes/core/components/site_header/js/site-header.js
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme

[SQONE-519]: Start on nav flyout interactions.
  wp-content/themes/core/components/navigation/index.js
  wp-content/themes/core/components/navigation/js/site-header.js
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/js/site-header.js
Due: none

[SQONE-519]: Add a11y focusLoop method. (Props: Sam Estok)
  wp-content/themes/core/assets/js/src/utils/dom/accessibility.js
Due: none

[SQONE-519]: Handle site header nav flyout keyboard interactivity.
  wp-content/themes/core/components/navigation/js/site-header.js
  wp-content/themes/core/components/search_form/css/search-form.pcss
  wp-content/themes/core/components/site_header/css/skip-link.pcss
Due: none

[SQONE-519]: Handle resize event between breakpoints.
  wp-content/themes/core/components/navigation/js/site-header.js
Due: none

Allow multiple post fields per block, remove post loop model middleware and go for manual config instead
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Model_Middleware/PostLoopModelMiddlewareTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopControllerFactoryTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopRepositoryTest.php
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Model_Middleware/Post_Loop_Field_Model_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller_Factory.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Repository.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop_Model.php
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Remove tribe acf post list repo from merge
  composer.json
Due: none

composer update
  composer.lock
Due: none

Add tests for secondary post loop field
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
Due: none

Replace Post_Proxy from square1 field models
  composer.lock
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostCacheManagerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopRepositoryTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostProxyTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/TermManagerTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Cache_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Repository.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Proxy.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Term_Manager.php
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Add more Order By options
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

capital case label
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Back to properly versioned square1-field-models/tribe-libs now that they are officially released
  composer.json
  composer.lock
Due: none

Create smaller loop block
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Patterns/Loop_Pattern.php
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Base.php
  wp-content/plugins/core/src/Blocks/Types/Tribe_Query_Loop/Tribe_Query_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Tribe_Query_Loop/Tribe_Query_Loop_Model.php
  wp-content/themes/core/blocks/tribequeryloop/tribequeryloop.php
  wp-content/themes/core/components/blocks/tribe_query_loop/Tribe_Query_Loop_Controller.php
  wp-content/themes/core/components/blocks/tribe_query_loop/css/tribe_query_loop.pcss
  wp-content/themes/core/components/blocks/tribe_query_loop/index.js
  wp-content/themes/core/components/blocks/tribe_query_loop/index.pcss
  wp-content/themes/core/components/blocks/tribe_query_loop/js/tribe_query_loop.js
  wp-content/themes/core/components/blocks/tribe_query_loop/tribe_query_loop.php
Due: phpcs-core-plugin, phpcs-core-theme

code clean up
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/ClassManagerTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Class_Manager.php
Due: phpcs-core-plugin

Create smaller loop block
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Patterns/Loop_Pattern.php
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Base.php
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Category.php
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Interface.php
  wp-content/plugins/core/src/Blocks/Types/Tribe_Query_Loop/Tribe_Query_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Tribe_Query_Loop/Tribe_Query_Loop_Model.php
  wp-content/themes/core/blocks/tribequeryloop/tribequeryloop.php
  wp-content/themes/core/components/blocks/tribe_query_loop/Tribe_Query_Loop_Controller.php
  wp-content/themes/core/components/blocks/tribe_query_loop/css/tribe_query_loop.pcss
  wp-content/themes/core/components/blocks/tribe_query_loop/index.js
  wp-content/themes/core/components/blocks/tribe_query_loop/index.pcss
  wp-content/themes/core/components/blocks/tribe_query_loop/js/tribe_query_loop.js
  wp-content/themes/core/components/blocks/tribe_query_loop/tribe_query_loop.php
Due: phpcs-core-plugin, phpcs-core-theme

verify property exists
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Base.php
Due: phpcs-core-plugin

phpcs/phpstan fix
  wp-content/themes/core/components/blocks/tribe_query_loop/Tribe_Query_Loop_Controller.php
Due: phpcs-core-theme

Remove unneeded trait usage
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller_Factory.php
Due: phpcs-core-plugin

Prefix test fixture block names with "test"
  dev/tests/tests/_support/Classes/Fixtures/Description_Field_Middleware.php
  dev/tests/tests/_support/Classes/Fixtures/Subtitle_Field_Middleware.php
Due: none

Fix formatting
  dev/tests/tests/_support/Classes/Fixtures/Repeater_Field_Middleware.php
Due: none

Remove unused class
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Acf_Field_Fetcher.php
Due: phpcs-core-plugin

Update comment
  wp-content/plugins/core/src/Blocks/Contracts/Model.php
Due: phpcs-core-plugin

Update comment
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Class_Manager.php
Due: phpcs-core-plugin

update pattern category funciton name for clarity
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Patterns/Pattern_Category.php
Due: phpcs-core-plugin

Temporarily point to tribe libs block middleware branch until release of 3.6.0
  composer.json
  composer.lock
Due: none

Remove With_Field_Prefix as it's now included in Block_Config
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
Due: phpcs-core-plugin

bump tribe-libs commit hash
  composer.lock
Due: none

Bump tribe libs commit to include block category in block config generation
  composer.lock
Due: none

Bump tribe-libs to 3.6.0
  composer.json
  composer.lock
Due: none

[SQONE-519]: Handle submenu toggles and related a11y events.
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/navigation/js/site-header.js
Due: none

[SQONE-519]: adding function comments.
  wp-content/themes/core/components/navigation/js/site-header.js
Due: none

[SQONE-519]: linting
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/site_header/css/site-header.pcss
Due: none

[SQONE-519]: Add changelog entry.
  changelog.md
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
