Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

[SQONE-609]: updated media query variable name
  wp-content/themes/core/assets/css/src/theme/media-queries/_variables.pcss
Due: none

[SQONE-609]: removed primary color from ul before psuedo element
  wp-content/themes/core/assets/css/src/theme/typography/lists.pcss
Due: none

[SQONE-609]: removed empty stylesheet for columns block admin styles
  wp-content/themes/core/components/blocks/core_columns/block-editor.pcss
Due: none

[SQONE-609]: added some documentation to columns block pcss to point to copied WP Core styles.
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: updated changelog
  changelog.md
Due: none

Fix media text throwing array to string conversions
  wp-content/plugins/core/src/Blocks/Types/Media_Text/Media_Text.php
Due: phpcs-core-plugin

Remove unneeded trait from color theme middleware
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
Due: phpcs-core-plugin

[SQONE-609]: updated width properties of blocks and columns blocks for medium and full viewports
  wp-content/themes/core/assets/css/src/theme/layouts/default.pcss
Due: none

bump tribe-libs
  composer.lock
Due: none

[MSSA-268]: Remove tribe favicon, make the favicon the site icon chosen in the customizer
  wp-content/themes/core/assets/img/theme/branding-assets/favicon.ico
  wp-content/themes/core/routes/unsupported_browser/Unsupported_Browser_Controller.php
  wp-content/themes/core/routes/unsupported_browser/unsupported_browser.php
Due: phpcs-core-theme

[MSSA-268]: phpcs fixes
  wp-content/themes/core/routes/unsupported_browser/unsupported_browser.php
Due: phpcs-core-theme

[SQONE-609]: cleaned up css
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

Properly allow manually selected posts to show up without overrides
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

Don't display faux posts unless they have at least a title added
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

[SQONE-270]: Update name and location for default settings to reflect the current theme name (which should be project specific).
  wp-content/plugins/core/src/Settings/General.php
Due: phpcs-core-plugin

[SQONE-270]: Rename class from General to Theme Options.
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Settings/Settings_Definer.php
  wp-content/plugins/core/src/Settings/Theme_Options.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Migrate Analytics & Social Settings to Theme Options.
  wp-content/plugins/core/src/Integrations/Google_Tag_Manager/GTM_Scripts.php
  wp-content/plugins/core/src/Object_Meta/Analytics_Settings.php
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Object_Meta/Social_Settings.php
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Add sabre/cache
  composer.json
  composer.lock
Due: none

Ignore phpstan throwable subtype errors
  phpstan.neon.dist
Due: none

Add category term field for manual posts
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Add property read to post_proxy, this is incorrect in wp core but fixed in master
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Proxy.php
Due: phpcs-core-plugin

Set post_category on manual posts, add to store, add definer
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Definer.php
Due: phpcs-core-plugin

Add ability to get categories from faux posts as well as override manual posts + stub test
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/CategoryTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Category.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Subscriber.php
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

Add category tests to PostLoopControllerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopControllerTest.php
Due: none

Update content loop controller to set the proper post global for category fetching
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

[SQONE-270]: Ad proper get_value() method and use appropriately in field usages.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Fix embeds in reusable blocks not displaying on the frontend
  wp-content/plugins/core/src/Theme/Theme_Subscriber.php
Due: phpcs-core-plugin

Update changelog
  changelog.md
Due: none

[SQONE-270]: Escape translated strings.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Fix an typo.
  wp-content/themes/core/style.css
Due: none

[SQONE-270]: Changelog.
  changelog.md
Due: none

[SQONE-270]: Update escaping for attribute.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
Due: phpcs-core-plugin

[SQONE-270]: Remove unused Analytics and Social Media Customizer sections.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Analytics_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Follow_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Update site footer to use theme options ACF fields for data instead of Customizer.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Remove old Footer Customizer settings.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Changelog entry.
  changelog.md
Due: none

[SQONE-270]: Remove unused Customizer Class.
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

[SQONE-270]: Remove unused customizer abstract class.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Abstract_Setting.php
Due: phpcs-core-plugin

[SQONE-270]: Fix escaping.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
Due: phpcs-core-plugin

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
