Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# only show errors
skip_output:
  - meta
  - success
  - summary

# alias for the phpcs command
x-phpcs: &phpcs
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

# phpcs
pre-commit:
  parallel: true
  commands:
    phpcs-core-plugin:
      glob: "wp-content/plugins/core/*.php"
      <<: *phpcs
    phpcs-core-theme:
      glob: "wp-content/themes/core/*.php"
      <<: *phpcs
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      <<: *phpcs

# prefix with jira ticket
prepare-commit-msg:
  scripts:
    "prefix-with-jira-ticket.php":
      runner: php

Adds changelog for static analysis format.
  changelog.md
Due: none

[SQONE-270]: Remove specialized logic for SVG logo images. This should be handled on a project-by-project basis.
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
Due: phpcs-core-theme

Remove opcache additions.
  dev/docker/php/php-ini-overrides.ini
Due: none

Re-add opcache additions.
  dev/docker/php/php-ini-overrides.ini
Due: none

Re-add opcache additions (again).
  dev/docker/php/php-ini-overrides.ini
Due: none

[SQONE-519]: Improve primary nav walker attibutes a bit.
  wp-content/plugins/core/src/Nav_Menus/Walker/Walker_Nav_Menu_Primary.php
Due: phpcs-core-plugin

[SQONE-519]: Add Masthead theme options.
  wp-content/plugins/core/src/Object_Meta/Theme_Options.php
Due: phpcs-core-plugin

[SQONE-519]: [SQONE-519]: Move the subheader out of the header directory.
  wp-content/themes/core/components/subheader/Subheader_Controller.php
  wp-content/themes/core/components/subheader/Subheader_Single_Controller.php
  wp-content/themes/core/components/subheader/css/subheader.pcss
  wp-content/themes/core/components/subheader/index.pcss
  wp-content/themes/core/components/subheader/subheader-single.php
  wp-content/themes/core/components/subheader/subheader.php
  wp-content/themes/core/routes/archive/archive.php
  wp-content/themes/core/routes/index/Index_Controller.php
  wp-content/themes/core/routes/index/index.php
  wp-content/themes/core/routes/page/Page_Controller.php
  wp-content/themes/core/routes/page/page.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core-theme

[SQONE-519]: Remove the masthead navigation component.
  wp-content/themes/core/components/header/masthead/masthead.php
  wp-content/themes/core/components/header/navigation/Header_Navigation_Controller.php
  wp-content/themes/core/components/header/navigation/navigation.php
Due: phpcs-core-theme

[SQONE-519]: Rename masthead component to site-header for consistency. Move document header css to that component. Consolidate css partials for ease of use.
  wp-content/themes/core/components/document/css/header.pcss
  wp-content/themes/core/components/document/header/header.php
  wp-content/themes/core/components/document/index.pcss
  wp-content/themes/core/components/header/css/header.pcss
  wp-content/themes/core/components/header/css/logo.pcss
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/index.pcss
  wp-content/themes/core/components/site_header/site-header.php
Due: phpcs-core-theme

[SQONE-519]: Use underscore for partial naming.
  wp-content/themes/core/components/document/header/header.php
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme

[SQONE-519]: Move skip link inside a landmark element per a11y reqs.
  wp-content/themes/core/components/document/css/header.pcss
  wp-content/themes/core/components/document/header/header.php
  wp-content/themes/core/components/site_header/css/skip-link.pcss
  wp-content/themes/core/components/site_header/index.pcss
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme

[SQONE-519]: Setup site header data & markup.
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme

[SQONE-519]: Style default site header (ported from a project)
  wp-content/themes/core/assets/css/src/theme/media-queries/_variables.pcss
  wp-content/themes/core/assets/css/src/theme/transitions/_variables.pcss
  wp-content/themes/core/components/site_header/css/site-header.pcss
Due: none

[SQONE-519]: Handle initial site header scripts.
  wp-content/themes/core/assets/js/src/theme/core/components.js
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/index.js
  wp-content/themes/core/components/site_header/js/site-header.js
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme

[SQONE-708]: Cherry picked files from MSSA-276.
  wp-content/plugins/core/src/Admin/Admin_Subscriber.php
  wp-content/plugins/core/src/Admin/Editor/Editor_Script_Loader.php
  wp-content/themes/core/assets/js/src/admin/editor/tribe-tinymce.js
Due: phpcs-core-plugin

[SQONE-708]: Added changelog entry.
  changelog.md
Due: none

Adds PHPStan format for errors in GitHub Actions (#1024)
  .github/workflows/phpcs.yml
  changelog.md
Due: none

[SQONE-708]: Added a proper description/comment to the TinyMCE plugin.
  wp-content/themes/core/assets/js/src/admin/editor/tribe-tinymce.js
Due: none

[SQONE-708]: Removed trailing spaces.
  wp-content/themes/core/assets/js/src/admin/editor/tribe-tinymce.js
Due: none

temporarily replace square1-field-models with dev-feature/color-swatch-model until release
  composer.json
  composer.lock
Due: none

Replace Colors class with the Swatch_Collection from field models
  dev/tests/tests/unit/Tribe/Project/Theme/Config/ColorsTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Class_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Field_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Contracts/Appearance.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Traits/With_Color_Choices.php
  wp-content/plugins/core/src/Blocks/Theme_Support.php
  wp-content/plugins/core/src/Theme/Config/Colors.php
  wp-content/plugins/core/src/Theme/Theme_Definer.php
Due: phpcs-core-plugin

Update tests to pass with Swatch Collection changes
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/ClassManagerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/Model_Middleware/ColorThemeModelMiddlewareTest.php
Due: none

Bugfix for projects that have numbers in their name, e.g. `DATA22-3`
  .lefthook/prepare-commit-msg/prefix-with-jira-ticket.php
Due: none

Update changelog
  changelog.md
Due: none

Remove local version of With_Field_Finder trait, now in tribe libs
  dev/tests/tests/_support/Classes/Fixtures/FieldFinder.php
  dev/tests/tests/_support/Classes/Fixtures/Repeater_Field_Middleware.php
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Traits/FieldFinderTest.php
  wp-content/plugins/core/src/Block_Middleware/Traits/With_Field_Finder.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
Due: phpcs-core-plugin

temporarily update to use field prefix branch for tribe-libs
  composer.json
  composer.lock
Due: none

Expect arrays for middleware pipelines to allow for multiple fields in the same block to use the middleware. Update color theme repeater to support this.
  dev/tests/tests/_support/Classes/Fixtures/Repeater_Field_Middleware.php
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Pipelines/AddFieldsPipelineTest.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Abstract_Field_Middleware.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Field_Middleware.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Has_Middleware_Params.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
Due: phpcs-core-plugin

composer update
  composer.lock
Due: none

Proper PHPStan return type for get_middleware_params()
  wp-content/plugins/core/src/Block_Middleware/Contracts/Has_Middleware_Params.php
Due: phpcs-core-plugin

Add wordpress-overrides.stub, mark have_posts() as an impure function.
  dev/stubs/wordpress-overrides.stub
  phpstan.neon.dist
Due: none

Update changelog.md
  changelog.md
Due: none

[SQONE-519]: Finish initial site header & nav arch & markup.
  wp-content/plugins/core/src/Nav_Menus/Walker/Walker_Nav_Menu_Primary.php
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-519]: Remove conditionals for skip-link b/c it's inside the site-nav landmark which handles the offsets.
  wp-content/themes/core/components/site_header/css/skip-link.pcss
Due: none

[SQONE-519]: Handle initial mobile styles & states for site header.
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/index.pcss
Due: none

[SQONE-519]: Handle initial mobile & states for site header nav.
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/navigation/index.pcss
Due: none

[SQONE-519]: Handle default state for desktop site header & nav.
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/search_form/css/search-form.pcss
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/index.pcss
Due: none

[SQONE-519]: Handle submenus styling for desktop.
  wp-content/themes/core/components/navigation/css/site-header.pcss
Due: none

[SQONE-519]: Handle desktop search flyout and active state.
  wp-content/themes/core/components/navigation/css/site-header.pcss
  wp-content/themes/core/components/search_form/css/search-form.pcss
  wp-content/themes/core/components/site_header/css/site-header.pcss
  wp-content/themes/core/components/site_header/site_header.php
Due: phpcs-core-theme
