Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Update block category
  wp-content/plugins/core/src/Blocks/Block_Category.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core-plugin

use esc_html() instead of __()
  wp-content/plugins/core/src/Blocks/Block_Category.php
Due: phpcs-core-plugin

linting.
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

[SQONE-609]: simplified admin styles to remove extra styling for column block
  wp-content/themes/core/assets/css/src/admin/block-editor/blocks.pcss
  wp-content/themes/core/assets/css/src/admin/block-editor/editor.pcss
  wp-content/themes/core/assets/css/src/theme/spacing/sink.pcss
  wp-content/themes/core/components/blocks/core_columns/block-editor.pcss
Due: none

[SQONE-609]: cleaned up css and added where selector to stylelint ignorePseudoClasses array
  .stylelintrc.json
  wp-content/themes/core/assets/css/src/theme/typography/headings.pcss
  wp-content/themes/core/assets/css/src/theme/typography/hr.pcss
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: ensured images that are first our last elements have correct margin
  wp-content/themes/core/assets/css/src/theme/spacing/sink.pcss
Due: none

Escape translations.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Analytics_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Follow_Settings.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Add footer Customizer settings.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Text decoration to default link styles. This always should have been a global default.
  wp-content/themes/core/assets/css/src/theme/actions/_mixins.pcss
  wp-content/themes/core/assets/css/src/theme/typography/anchors.pcss
  wp-content/themes/core/components/navigation/css/legal.pcss
  wp-content/themes/core/components/navigation/css/site-footer.pcss
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
Due: none

[SQONE-270]: Use escaped translation functions.
  wp-content/plugins/core/src/Nav_Menus/Nav_Menus_Definer.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Linting
  wp-content/themes/core/components/navigation/css/legal.pcss
Due: none

Add constant for block category slug
  wp-content/plugins/core/src/Blocks/Block_Category.php
  wp-content/plugins/core/src/Blocks/Types/Accordion/Accordion.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Content_Columns/Content_Columns.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Grid/Gallery_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider.php
  wp-content/plugins/core/src/Blocks/Types/Hero/Hero.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Interstitial/Interstitial.php
  wp-content/plugins/core/src/Blocks/Types/Lead_Form/Lead_Form.php
  wp-content/plugins/core/src/Blocks/Types/Links/Links.php
  wp-content/plugins/core/src/Blocks/Types/Logos/Logos.php
  wp-content/plugins/core/src/Blocks/Types/Media_Text/Media_Text.php
  wp-content/plugins/core/src/Blocks/Types/Quote/Quote.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav.php
  wp-content/plugins/core/src/Blocks/Types/Spacer/Spacer.php
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
  wp-content/plugins/core/src/Blocks/Types/Tabs/Tabs.php
Due: phpcs-core-plugin

Update docblock to include filter info
  wp-content/plugins/core/src/Blocks/Block_Category.php
Due: phpcs-core-plugin

Changelog Updates for PR
  changelog.md
Due: none

remove all instances of the image select field types on blocks.
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Content_Columns/Content_Columns.php
  wp-content/plugins/core/src/Blocks/Types/Links/Links.php
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
  wp-content/themes/core/assets/img/admin/blocks/accordion/inline.svg
  wp-content/themes/core/assets/img/admin/blocks/accordion/stacked.svg
  wp-content/themes/core/assets/img/admin/blocks/cardgrid/inline.svg
  wp-content/themes/core/assets/img/admin/blocks/cardgrid/stacked.svg
  wp-content/themes/core/assets/img/admin/blocks/contentcolumns/center.svg
  wp-content/themes/core/assets/img/admin/blocks/contentcolumns/left.svg
  wp-content/themes/core/assets/img/admin/blocks/contentloop/layout_columns.svg
  wp-content/themes/core/assets/img/admin/blocks/contentloop/layout_feature.svg
  wp-content/themes/core/assets/img/admin/blocks/contentloop/layout_row.svg
  wp-content/themes/core/assets/img/admin/blocks/hero/center.svg
  wp-content/themes/core/assets/img/admin/blocks/hero/left.svg
  wp-content/themes/core/assets/img/admin/blocks/interstitial/center.svg
  wp-content/themes/core/assets/img/admin/blocks/interstitial/left.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/bottom.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/center.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/form_inline.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/form_stacked.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/left.svg
  wp-content/themes/core/assets/img/admin/blocks/leadform/right.svg
  wp-content/themes/core/assets/img/admin/blocks/links/inline.svg
  wp-content/themes/core/assets/img/admin/blocks/links/stacked.svg
  wp-content/themes/core/assets/img/admin/blocks/mediatext/center.svg
  wp-content/themes/core/assets/img/admin/blocks/mediatext/full.svg
  wp-content/themes/core/assets/img/admin/blocks/mediatext/grid.svg
  wp-content/themes/core/assets/img/admin/blocks/mediatext/left.svg
  wp-content/themes/core/assets/img/admin/blocks/mediatext/right.svg
  wp-content/themes/core/assets/img/admin/blocks/quote/left.svg
  wp-content/themes/core/assets/img/admin/blocks/quote/overlay.svg
  wp-content/themes/core/assets/img/admin/blocks/quote/right.svg
  wp-content/themes/core/assets/img/admin/blocks/stats/center.svg
  wp-content/themes/core/assets/img/admin/blocks/stats/inline.svg
  wp-content/themes/core/assets/img/admin/blocks/stats/left.svg
  wp-content/themes/core/assets/img/admin/blocks/stats/stacked.svg
  wp-content/themes/core/assets/img/admin/blocks/tabs/horizontal.svg
  wp-content/themes/core/assets/img/admin/blocks/tabs/vertical.svg
Due: phpcs-core-plugin

Update changelog for button_groups
  changelog.md
Due: none

Add php-ds
  composer.json
  composer.lock
Due: none

Temporarily use tribe libs block middleware branch
  composer.json
  composer.lock
Due: none

Add model interface, update base model and all block models to conform
  wp-content/plugins/core/src/Blocks/Contracts/Model.php
  wp-content/plugins/core/src/Blocks/Types/Accordion/Accordion_Model.php
  wp-content/plugins/core/src/Blocks/Types/Base_Model.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons_Model.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Content_Columns/Content_Columns_Model.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop_Model.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Grid/Gallery_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider_Model.php
  wp-content/plugins/core/src/Blocks/Types/Hero/Hero_Model.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Interstitial/Interstitial_Model.php
  wp-content/plugins/core/src/Blocks/Types/Lead_Form/Lead_Form_Model.php
  wp-content/plugins/core/src/Blocks/Types/Links/Links_Model.php
  wp-content/plugins/core/src/Blocks/Types/Logos/Logos_Model.php
  wp-content/plugins/core/src/Blocks/Types/Media_Text/Media_Text_Model.php
  wp-content/plugins/core/src/Blocks/Types/Quote/Quote_Model.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav_Model.php
  wp-content/plugins/core/src/Blocks/Types/Spacer/Spacer_Model.php
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats_Model.php
  wp-content/plugins/core/src/Blocks/Types/Tabs/Tabs_Model.php
Due: phpcs-core-plugin

Update cta field trait + interface to allow getting fields without the group and to add conditional logic
  wp-content/plugins/core/src/Blocks/Fields/Cta_Field.php
  wp-content/plugins/core/src/Blocks/Fields/Traits/With_Cta_Field.php
Due: phpcs-core-plugin

Add field finder trait + fixtures + tests
  dev/tests/tests/_support/Classes/Fixtures/FieldFinder.php
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Traits/FieldFinderTest.php
  wp-content/plugins/core/src/Block_Middleware/Traits/With_Field_Finder.php
Due: phpcs-core-plugin

Add middleware interface, add main middelware guard system + tests
  dev/tests/tests/unit/Tribe/Project/Block_Middleware/Guards/MiddlewareGuardTest.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Middleware.php
  wp-content/plugins/core/src/Block_Middleware/Guards/Middleware_Guard.php
Due: phpcs-core-plugin

Add block field and model middleware guards
  wp-content/plugins/core/src/Block_Middleware/Guards/Block_Field_Middleware_Guard.php
  wp-content/plugins/core/src/Block_Middleware/Guards/Block_Model_Middleware_Guard.php
Due: phpcs-core-plugin

Add block pipeline contract
  wp-content/plugins/core/src/Block_Middleware/Contracts/Block_Pipeline.php
Due: phpcs-core-plugin

Add Field & Model middleware contracts
  wp-content/plugins/core/src/Block_Middleware/Contracts/Field_Middleware.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Model_Middleware.php
Due: phpcs-core-plugin

Add Field & Model middleware abstracts
  wp-content/plugins/core/src/Block_Middleware/Contracts/Abstract_Field_Middleware.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Abstract_Model_Middleware.php
Due: phpcs-core-plugin

Add Field & Model pipelines
  wp-content/plugins/core/src/Block_Middleware/Pipelines/Add_Fields_Pipeline.php
  wp-content/plugins/core/src/Block_Middleware/Pipelines/Add_Model_Data_Pipeline.php
Due: phpcs-core-plugin

Add Has_Middleware_Params.php interface
  wp-content/plugins/core/src/Block_Middleware/Contracts/Has_Middleware_Params.php
Due: phpcs-core-plugin

Add Block_Field_Registrar.php + fixtures + tests
  dev/tests/tests/_support/Classes/Fixtures/Description_Field_Middleware.php
  dev/tests/tests/_support/Classes/Fixtures/Description_Model_Middleware.php
  dev/tests/tests/_support/Classes/Fixtures/Repeater_Field_Middleware.php
  dev/tests/tests/_support/Classes/Fixtures/Subtitle_Field_Middleware.php
  dev/tests/tests/_support/Classes/Fixtures/Subtitle_Model_Middleware.php
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/BlockFieldRegistrarTest.php
  wp-content/plugins/core/src/Block_Middleware/Block_Field_Registrar.php
Due: phpcs-core-plugin

Add Block_Middleware_Definer.php and register in Core
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

Update Blocks_Subscriber.php to pass blocks through field middleware and fallback to original registration logic
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core-plugin

Add Field pipeline middleware tests
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Pipelines/AddFieldsPipelineTest.php
Due: none

Add model middleware pipeline tests
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Pipelines/AddModelDataPipelineTest.php
Due: none

bump tribe libs
  composer.lock
Due: none

Add denial middleware guard tests
  dev/tests/tests/unit/Tribe/Project/Block_Middleware/Guards/MiddlewareGuardTest.php
Due: none

Changed hook to block_categories_all and updated the parameter count
  wp-content/plugins/core/src/Blocks/Block_Category.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core-plugin

Update icon for Section Nav and Icon Grid blocks
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav.php
Due: phpcs-core-plugin

[SQONE-691]: fixed buttons block class name and attached button styles
  wp-content/themes/core/components/blocks/buttons/buttons.php
  wp-content/themes/core/components/blocks/buttons/css/buttons.pcss
Due: phpcs-core-theme

Add User Input Content to Security Docs (#1002)
  docs/concepts/security.md
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
