Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Remove unnecessary spacing
  docs/concepts/security.md
Due: none

Removes html tags after testing
  wp-content/plugins/core/src/Blocks/Types/Logos/Logos.php
Due: phpcs-core-plugin

Breaks down instructions text into several peaces with concatenation line break
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider.php
Due: phpcs-core-plugin

bump square1-field-models to 1.1.4
  composer.lock
Due: none

POC: portable and true MVC blocks utilizing DTO's
  wp-content/plugins/core/src/Blocks/Block_View_Factory.php
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Contracts/Block_Controller.php
  wp-content/plugins/core/src/Blocks/Contracts/Block_Model.php
  wp-content/plugins/core/src/Blocks/Types/Base_Model.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid_Model.php
  wp-content/themes/core/blocks/icongrid/icongrid.php
  wp-content/themes/core/components/blocks/icon_grid/icon_grid.php
  wp-content/themes/core/components/blocks/icon_grid/src/Icon_Grid.php
  wp-content/themes/core/components/blocks/icon_grid/src/Icon_Grid_Controller.php
  wp-content/themes/core/components/blocks/icon_grid/src/Icon_Grid_Model.php
Due: phpcs-core-plugin, phpcs-core-theme

Utilize the method instead of accessing the property directly
  wp-content/themes/core/components/blocks/icon_grid/src/Icon_Grid_Controller.php
Due: phpcs-core-theme

Removes unregister block style functionality
  wp-content/plugins/core/src/Blocks/Block_Style_Override.php
Due: phpcs-core-plugin

Adds PHP side functionality and filter for unregistering block styles
  changelog.md
  docs/basics/blocks.md
  wp-content/plugins/core/src/Assets/Admin/JS_Config.php
  wp-content/plugins/core/src/Blocks/Block_Style_Deny_List.php
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/themes/core/assets/js/src/admin/config/wp-settings.js
  wp-content/themes/core/assets/js/src/admin/core/block-styles.js
Due: phpcs-core-plugin

Removes copy/paste of block styles
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
Due: phpcs-core-plugin

Fixes description and code style
  docs/basics/blocks.md
  wp-content/plugins/core/src/Blocks/Block_Style_Deny_List.php
Due: phpcs-core-plugin

Add required fields todo
  wp-content/plugins/core/src/Blocks/Contracts/Block_Model.php
Due: phpcs-core-plugin

Convert hero block to MVC field model
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Types/Hero/Hero_Model.php
  wp-content/themes/core/blocks/hero/hero.php
  wp-content/themes/core/components/blocks/hero/Hero_Block_Controller.php
  wp-content/themes/core/components/blocks/hero/hero.php
  wp-content/themes/core/components/blocks/hero/src/Hero.php
  wp-content/themes/core/components/blocks/hero/src/Hero_Block_Controller.php
  wp-content/themes/core/components/blocks/hero/src/Hero_Model.php
Due: phpcs-core-plugin, phpcs-core-theme

WIP: add Block_Component.php
  wp-content/plugins/core/src/Blocks/Block_Component.php
Due: phpcs-core-plugin

Add tribe_render_block() function
  wp-content/plugins/core/functions/templates.php
Due: phpcs-core-plugin

temporarily hook the hero block up to the single controller/view
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core-theme

[SQONE-609]: refactored core styles
  wp-content/themes/core/assets/css/src/theme/typography/anchors.pcss
  wp-content/themes/core/assets/css/src/theme/typography/headings.pcss
  wp-content/themes/core/assets/css/src/theme/typography/p.pcss
  wp-content/themes/core/assets/js/src/admin/core/ready.js
  wp-content/themes/core/components/blocks/core_columns/block-editor.pcss
  wp-content/themes/core/components/blocks/core_columns/index.js
  wp-content/themes/core/components/blocks/core_columns/js/columns.js
Due: none

[SQONE-609]: updated more base styles
  wp-content/themes/core/assets/css/src/theme/spacing/sink.pcss
  wp-content/themes/core/assets/css/src/theme/typography/hr.pcss
  wp-content/themes/core/assets/css/src/theme/typography/lists.pcss
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: Updated margin styles in the admin for blocks with fullalign to fix alignment issue
  wp-content/themes/core/assets/css/src/admin/block-editor/editor.pcss
  wp-content/themes/core/assets/css/src/theme/layouts/default.pcss
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: updated columns not stacked on mobile for proper top margin
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: fixed medium max viewport definition to correctly apply
  wp-content/themes/core/assets/css/src/theme/media-queries/_variables.pcss
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
Due: none

[SQONE-609]: removed sink classes from blocks where no longer required
  wp-content/themes/core/components/accordion/Accordion_Controller.php
  wp-content/themes/core/components/blocks/accordion/Accordion_Block_Controller.php
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
  wp-content/themes/core/components/blocks/content_columns/Content_Columns_Block_Controller.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
  wp-content/themes/core/components/blocks/gallery_grid/Gallery_Grid_Controller.php
  wp-content/themes/core/components/blocks/gallery_slider/Gallery_Slider_Controller.php
  wp-content/themes/core/components/blocks/hero/Hero_Block_Controller.php
  wp-content/themes/core/components/blocks/icon_grid/Icon_Grid_Controller.php
  wp-content/themes/core/components/blocks/lead_form/Lead_Form_Block_Controller.php
  wp-content/themes/core/components/blocks/links/Links_Block_Controller.php
  wp-content/themes/core/components/blocks/logos/Logos_Block_Controller.php
  wp-content/themes/core/components/blocks/media_text/Media_Text_Block_Controller.php
  wp-content/themes/core/components/blocks/stats/Stats_Block_Controller.php
  wp-content/themes/core/components/blocks/tabs/Tabs_Block_Controller.php
  wp-content/themes/core/components/content_block/Content_Block_Controller.php
  wp-content/themes/core/components/tabs/Tabs_Controller.php
Due: phpcs-core-theme

[SQONE-609]: removed extra selector on section nav actions that is no longer required
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
Due: none

[SQONE-609]: cleaned up list styles in admin
  wp-content/themes/core/assets/css/src/theme/typography/lists.pcss
Due: none

[SQONE-270]: Add `c-nav-` prefix to menu item classes.
  wp-content/plugins/core/src/Nav_Menus/Nav_Attribute_Filters.php
Due: phpcs-core-plugin

[SQONE-270]: Finish markup & styling for site footer.
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
  wp-content/themes/core/components/site_footer/site_footer.php
Due: phpcs-core-theme

[SQONE-270]: Style footer menus
  wp-content/themes/core/components/navigation/css/legal.pcss
  wp-content/themes/core/components/navigation/css/site-footer.pcss
  wp-content/themes/core/components/navigation/index.pcss
Due: none

Bump tribe libs to 3.4.18
  changelog.md
  composer.lock
Due: none

[SQONE-270]: Correct logo alignment, Handle edge cases and a11y.
  wp-content/themes/core/components/navigation/css/legal.pcss
  wp-content/themes/core/components/navigation/css/site-footer.pcss
  wp-content/themes/core/components/site_footer/css/site-footer.pcss
  wp-content/themes/core/components/site_footer/site_footer.php
Due: phpcs-core-theme

[SQONE-270]: Remove opcache changes - just testing
  dev/docker/php/php-ini-overrides.ini
Due: none

[SQONE-270]: SQONE-270 Introduce Customizer Abstract class for Customizer sections.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Abstract_Setting.php
Due: phpcs-core-plugin

[SQONE-270]: SQONE-270 Move Analytics settings from ACF fields and General Settings to Customizer.
  wp-content/plugins/core/src/Integrations/Google_Tag_Manager/GTM_Scripts.php
  wp-content/plugins/core/src/Object_Meta/Analytics_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Analytics_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: SQONE-270 Move Social Follow settings from ACF fields and General Settings to Customizer.
  wp-content/plugins/core/src/Object_Meta/Social_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Link_Settings.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Remove old General Settings and related ACF fields.
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Settings/General.php
  wp-content/plugins/core/src/Settings/Settings_Definer.php
Due: phpcs-core-plugin

Update Footer section, and enable Customizer sections.
  wp-content/plugins/core/src/Core.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
Due: phpcs-core-plugin

[SQONE-270]: Update Footer section, and enable Customizer sections.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
Due: phpcs-core-plugin

Standardize customizer class & field names.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Follow_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Standardize social follow class & const names.
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-theme

Drop footer settings from initial changes.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
Due: phpcs-core-plugin

Adjust field names, and orders, add Custom Block Category
  wp-content/plugins/core/src/Blocks/Block_Category.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Types/Accordion/Accordion.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Content_Columns/Content_Columns.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Grid/Gallery_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider.php
  wp-content/plugins/core/src/Blocks/Types/Hero/Hero.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Interstitial/Interstitial.php
  wp-content/plugins/core/src/Blocks/Types/Lead_Form/Lead_Form.php
  wp-content/plugins/core/src/Blocks/Types/Links/Links.php
  wp-content/plugins/core/src/Blocks/Types/Logos/Logos.php
  wp-content/plugins/core/src/Blocks/Types/Media_Text/Media_Text.php
  wp-content/plugins/core/src/Blocks/Types/Quote/Quote.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav.php
  wp-content/plugins/core/src/Blocks/Types/Spacer/Spacer.php
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
  wp-content/plugins/core/src/Blocks/Types/Tabs/Tabs.php
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: phpcs-core-plugin

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
