Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# only show errors
skip_output:
  - meta
  - success
  - summary

# alias for the phpcs command
x-phpcs: &phpcs
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

# phpcs
pre-commit:
  parallel: true
  commands:
    phpcs-core-plugin:
      glob: "wp-content/plugins/core/*.php"
      <<: *phpcs
    phpcs-core-theme:
      glob: "wp-content/themes/core/*.php"
      <<: *phpcs
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      <<: *phpcs

# prefix with jira ticket
prepare-commit-msg:
  scripts:
    "prefix-with-jira-ticket.php":
      runner: php

[SQONE-609]: base columns block support
  wp-content/themes/core/assets/css/src/theme/media-queries/_variables.pcss
  wp-content/themes/core/assets/js/src/admin/core/ready.js
  wp-content/themes/core/components/blocks/core_columns/block-editor.pcss
  wp-content/themes/core/components/blocks/core_columns/css/columns.pcss
  wp-content/themes/core/components/blocks/core_columns/index.js
  wp-content/themes/core/components/blocks/core_columns/index.pcss
  wp-content/themes/core/components/blocks/core_columns/js/columns.js
Due: none

Removes redundant SECTION_CONTENT constant
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
Due: phpcs-core-plugin

Adds changelog record
  changelog.md
Due: none

Bump TEC to latest.
  composer.json
  composer.lock
Due: none

[SQONE-575]: add text alignment mixins / classes
  wp-content/themes/core/assets/css/src/theme/typography/_mixins.pcss
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

[SQONE-575]: update changelog
  changelog.md
Due: none

Composer update
  composer.lock
Due: none

Update test DB for latest version of WP.
  dev/tests/tests/_data/dump.sql
Due: none

Portable Block Types Step 1
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid_Route.php
Due: phpcs-core-plugin

Update docblock
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid_Route.php
Due: phpcs-core-plugin

Make wait longer.
  dev/tests/tests/webdriver/SquareOneChromeExampleCest.php
Due: none

Upgrade selenium chrome docker image to 4.2.X
  dev/docker/docker-compose.yml
Due: none

Add additional helper methods for the webdriver actor to use
  dev/tests/tests/_support/Helper/Webdriver.php
Due: none

Add more waiting, move screenshot creation around
  dev/tests/tests/webdriver/SquareOneChromeExampleCest.php
Due: none

bump cache version
  .github/workflows/ci.yml
Due: none

Remove wait for element visible
  dev/tests/tests/webdriver/SquareOneChromeExampleCest.php
Due: none

Add first pass content to handling user input
  docs/concepts/security.md
Due: none

[SQONE-609]: updated headings and paragaph styles
  wp-content/themes/core/assets/css/src/theme/typography/headings.pcss
  wp-content/themes/core/assets/css/src/theme/typography/p.pcss
Due: none

[SQONE-575]: update mixing / class names
  wp-content/themes/core/assets/css/src/theme/typography/_mixins.pcss
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

[SQONE-575]: use new mixin names
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

Update tribe libs to 3.4.17
  composer.lock
Due: none

Removes empty social link items to prevent empty html output
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-theme

[SQONE-575]: add comment about .has-* classes
  wp-content/themes/core/assets/css/src/theme/typography/_utilities.pcss
Due: none

Regenerated icons with youtube icon included.
  wp-content/themes/core/assets/css/src/theme/icons/_variables.pcss
  wp-content/themes/core/assets/css/src/theme/icons/icons.pcss
  wp-content/themes/core/assets/fonts/theme/icons-core/core-icons.svg
  wp-content/themes/core/assets/fonts/theme/icons-core/core-icons.ttf
  wp-content/themes/core/assets/fonts/theme/icons-core/core-icons.woff
  wp-content/themes/core/assets/fonts/theme/icons-core/core-icons.woff2
  wp-content/themes/core/assets/library/theme/icons/core/demo.html
  wp-content/themes/core/assets/library/theme/icons/core/fonts/core-icons.svg
  wp-content/themes/core/assets/library/theme/icons/core/fonts/core-icons.ttf
  wp-content/themes/core/assets/library/theme/icons/core/fonts/core-icons.woff
  wp-content/themes/core/assets/library/theme/icons/core/fonts/core-icons.woff2
  wp-content/themes/core/assets/library/theme/icons/core/selection.json
  wp-content/themes/core/assets/library/theme/icons/core/style.css
  wp-content/themes/core/assets/library/theme/icons/core/style.scss
  wp-content/themes/core/assets/library/theme/icons/core/variables.scss
Due: none

[SQONE-270]: SQONE-270 Introduce Customizer Abstract class for Customizer sections.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Abstract_Setting.php
Due: phpcs-core-plugin

[SQONE-270]: SQONE-270 Move Analytics settings from ACF fields and General Settings to Customizer.
  wp-content/plugins/core/src/Integrations/Google_Tag_Manager/GTM_Scripts.php
  wp-content/plugins/core/src/Object_Meta/Analytics_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Analytics_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: SQONE-270 Move Social Follow settings from ACF fields and General Settings to Customizer.
  wp-content/plugins/core/src/Object_Meta/Social_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Link_Settings.php
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Remove old General Settings and related ACF fields.
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/plugins/core/src/Settings/General.php
  wp-content/plugins/core/src/Settings/Settings_Definer.php
Due: phpcs-core-plugin

[SQONE-270]: Add Footer section to Customizer.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer.php
Due: phpcs-core-plugin

[SQONE-270]: Update Footer section, and enable Customizer sections.
  wp-content/plugins/core/src/Core.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Update Footer section, and enable Customizer sections.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
Due: phpcs-core-plugin

[SQONE-270]: Add basic footer customizer fields.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[sqone-703]: Updated changelog.
  changelog.md
Due: none

[SQONE-270]: Standardize customizer class & field names.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Loader.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Follow_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Standardize social follow class & const names.
  wp-content/themes/core/components/follow/Follow_Controller.php
Due: phpcs-core-theme

[SQONE-270]: Standardize customizer footer naming.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: Start on footer controller
  wp-content/themes/core/components/site_footer/Site_Footer_Controller.php
  wp-content/themes/core/components/site_footer/site_footer.php
Due: phpcs-core-theme

Replaces translations with html-escaped translations
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Fields/Traits/With_Cta_Field.php
  wp-content/plugins/core/src/Blocks/Types/Accordion/Accordion.php
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/plugins/core/src/Blocks/Types/Content_Columns/Content_Columns.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Grid/Gallery_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider.php
  wp-content/plugins/core/src/Blocks/Types/Hero/Hero.php
  wp-content/plugins/core/src/Blocks/Types/Icon_Grid/Icon_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Interstitial/Interstitial.php
  wp-content/plugins/core/src/Blocks/Types/Lead_Form/Lead_Form.php
  wp-content/plugins/core/src/Blocks/Types/Logos/Logos.php
  wp-content/plugins/core/src/Blocks/Types/Quote/Quote.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav.php
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
  wp-content/plugins/core/src/Blocks/Types/Tabs/Tabs.php
Due: phpcs-core-plugin
