Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

[SQONE-698]: Add mailgun lib removal to changelog
  changelog.md
Due: none

[SQONE-698]: Add johnbillion/extended-cpts bump to changelog
  changelog.md
Due: none

[SQONE-698]: Add back phpstan/phpstan-mockery
  composer.json
  composer.lock
Due: none

[SQONE-698]: Don't duplicate adding the TRIBE_GLOMAR constant to the configuration
  .github/workflows/ci.yml
Due: none

[SQONE-698]: phpcs config formatting
  phpcs.xml.dist
Due: none

Fix broken markdown
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

Conducts content loop refactoring
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
  wp-content/themes/core/components/blocks/content_loop/content_loop.php
Due: phpcs-core-theme

[SQONE-710]: updated changelog
  changelog.md
Due: none

[SQONE-519]: DQA repairs. Force logo images to fix within the logo container.
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
  wp-content/themes/core/components/site_header/css/site-header.pcss
Due: phpcs-core-theme

[SQONE-519]: Update site header to use new theme settings arch.
  wp-content/plugins/core/src/Object_Meta/Masthead_Settings.php
  wp-content/plugins/core/src/Object_Meta/Object_Meta_Definer.php
  wp-content/themes/core/components/site_header/Site_Header_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-519]: Reduce and improve SquareOne logo SVG.
  logo.svg
Due: none

[SQONE-519]: composer update.
  composer.lock
Due: none

[SQONE-519]: Bump S3 Uploads version for PHP8 support.
  composer.json
  composer.lock
Due: none

Adds record to changelog
  changelog.md
Due: none

update swiper version
  composer.lock
  package.json
  wp-content/themes/core/components/slider/Slider_Controller.php
  wp-content/themes/core/components/slider/js/slider.js
  wp-content/themes/core/integrations/swiper/css/_variables.pcss
  wp-content/themes/core/integrations/swiper/css/swiper.pcss
  yarn.lock
Due: phpcs-core-theme

validate + override font-family error
  wp-content/themes/core/integrations/swiper/css/_variables.pcss
  wp-content/themes/core/integrations/swiper/css/swiper.pcss
Due: none

changelog entry
  changelog.md
Due: none

Adds changelog entry
  changelog.md
Due: none

Replaces translation with translation and escaping
  wp-content/themes/core/components/share/Share_Controller.php
Due: phpcs-core-theme

Updates Linkedin share url
  wp-content/themes/core/components/share/Share_Controller.php
Due: phpcs-core-theme

use theme colors for swiper variables
  wp-content/themes/core/integrations/swiper/css/_variables.pcss
Due: none

update changelog for consistency
  changelog.md
Due: none

Adds comment for translators
  wp-content/themes/core/components/share/Share_Controller.php
Due: phpcs-core-theme

Fix errors when pages are the post type, as they have no category
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

Add a block_name property to the post loop field config for key prefixing
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
Due: phpcs-core-plugin

Prefix key names with the block name, so they are unique when stored by ACF
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Update changelog
  changelog.md
Due: none

Remove the unique note, as we prefix with the block name now
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
Due: phpcs-core-plugin

[SQONE-698]: Update renamed lefthook package to v1.1.1
  package.json
  yarn.lock
Due: none

[SQONE-698]: Update ticket matching regex and add tests
  .lefthook/prepare-commit-msg/prefix-with-jira-ticket.php
  dev/tests/tests/unit/PrefixJiraTicketTest.php
Due: none

[SQONE-698]: Ensure phpstan knows the prefix script exists
  phpstan.neon.dist
Due: none

[SQONE-698]: Update changelog
  changelog.md
Due: none

Chore: Update lefthook ticket prefixing (#1043)
  .lefthook/prepare-commit-msg/prefix-with-jira-ticket.php
  changelog.md
  dev/tests/tests/unit/PrefixJiraTicketTest.php
  package.json
  phpstan.neon.dist
  yarn.lock
Due: none

Git ignore lefthook-local.yml
  .gitignore
  changelog.md
Due: none

[SQONE-609]: Fix regression from removing default typing of tab panel classes property
  wp-content/themes/core/components/tabs/Tabs_Controller.php
Due: phpcs-core-theme

[SQONE-609]: Update changelog.md
  changelog.md
Due: none

[SQONE-609]: Fix regression in Tabs Controller (#1045)
  changelog.md
  wp-content/themes/core/components/tabs/Tabs_Controller.php
Due: phpcs-core-theme

Git ignore lefthook-local.yml (#1044)
  .gitignore
  changelog.md
Due: none

Fix broken markdown (#1038)
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
