Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

phpcs-core-plugin:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-core-theme:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Force activate the acf-swatch plugin
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

Fix bad variable name
  wp-content/plugins/core/src/Templates/Models/Collections/Button_Collection.php
Due: phpcs-core-plugin

PHPStan fixes.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Analytics_Settings.php
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Social_Follow_Settings.php
Due: phpcs-core-plugin

[SQONE-270]: PHPStan fixes.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
  wp-content/themes/core/components/document/footer/footer.php
  wp-content/themes/core/components/site_footer/site_footer.php
Due: phpcs-core-plugin, phpcs-core-theme

[SQONE-270]: Don't escape html in the field description.
  wp-content/plugins/core/src/Theme_Customizer/Customizer_Sections/Footer_Settings.php
Due: phpcs-core-plugin

Don't trigger click for mouse right-clicks on Windows.
  wp-content/themes/core/components/card/js/card.js
Due: none

Changelog entry.
  changelog.md
Due: none

WIP: Color theme field middleware
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/ClassManagerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/Models/ColorThemeModelTest.php
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
  wp-content/plugins/core/src/Block_Middleware/Contracts/Abstract_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Class_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Contracts/Appearance.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Fields/Color_Theme_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Fields/Color_Theme_Repeater_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Models/Color_Theme_Field_Model_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/README.md
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Traits/With_Color_Choices.php
  wp-content/plugins/core/src/Core.php
Due: phpcs-core-plugin

Update docs
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/README.md
Due: none

Add starting block middleware documentation
  wp-content/plugins/core/src/Block_Middleware/README.md
Due: none

Update phpstan return type
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Traits/With_Color_Choices.php
Due: phpcs-core-plugin

Fix name of test
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/Models/ColorThemeModelMiddlewareTest.php
Due: none

Add Post_Proxy.php + tests
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostProxyTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Proxy.php
Due: phpcs-core-plugin

Add updated post loop field middleware
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Model_Middleware/Post_Loop_Field_Model_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Models/Post_Loop_Model.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Models/Query_Model.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

Add PostLoopControllerTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/PostLoopControllerTest.php
Due: none

Add stub README.md
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/README.md
Due: none

Convert card grid to use post loop middleware
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Convert content loop to use post loop middleware
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop.php
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Register post loop middleware for card grid / content loop
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
Due: phpcs-core-plugin

Remove the tribe acf post list field 😍
  composer.json
  composer.lock
Due: none

Add comment
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Place middleware in more appropriately named folders, rename test to match
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/Models/ColorThemeModelMiddlewareTest.php
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Model_Middleware/Color_Theme_Field_Model_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/README.md
Due: phpcs-core-plugin

Rename folder to match namespace
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Color_Theme/Model_Middleware/ColorThemeModelMiddlewareTest.php
Due: none

Add PostLoopFieldMiddlewareTest.php
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
Due: none

Add PostLoopModelMiddlewareTest, add Acf_Field_Fetcher.php, allow filtering of model index name
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Model_Middleware/PostLoopModelMiddlewareTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Acf_Field_Fetcher.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Model_Middleware/Post_Loop_Field_Model_Middleware.php
Due: phpcs-core-plugin

Update index controller to use the post loop
  wp-content/themes/core/routes/index/Index_Controller.php
Due: phpcs-core-theme

Delete the Post_List_Field_Formatter trait
  wp-content/plugins/core/src/Templates/Components/Traits/Post_List_Field_Formatter.php
Due: phpcs-core-plugin

Ensure left over empty repeaters do not display
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Post_Loop_Controller.php
Due: phpcs-core-plugin

Add comments to models that are using post loop middleware
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid_Model.php
  wp-content/plugins/core/src/Blocks/Types/Content_Loop/Content_Loop_Model.php
Due: phpcs-core-plugin

Remove field finder, bring in version from tribe-libs
  composer.lock
  dev/tests/tests/_support/Classes/Fixtures/FieldFinder.php
  dev/tests/tests/_support/Classes/Fixtures/Repeater_Field_Middleware.php
  dev/tests/tests/integration/Tribe/Project/Block_Middleware/Traits/FieldFinderTest.php
  wp-content/plugins/core/src/Block_Middleware/Traits/With_Field_Finder.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Fields/Color_Theme_Repeater_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Add color theme field interface
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Contracts/Color_Theme_Field.php
Due: phpcs-core-plugin

Update interface to accept a label
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Contracts/Color_Theme_Field.php
Due: phpcs-core-plugin

Update color theme middleware to implement the field interface
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Field_Middleware.php
Due: phpcs-core-plugin

Set up the default definition for the color theme field interface
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Definer.php
Due: phpcs-core-plugin

Fix bad merge
  wp-content/plugins/core/src/Block_Middleware/Block_Middleware_Definer.php
Due: phpcs-core-plugin

Make the color theme field more portable for use in object meta and other areas of the site
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Definer.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Color_Theme_Field_Manager.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Contracts/Color_Theme_Field.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Field_Middleware.php
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
Due: phpcs-core-plugin

Fix bad merge
  wp-content/plugins/core/src/Blocks/Middleware/Color_Theme/Field_Middleware/Color_Theme_Repeater_Field_Middleware.php
Due: phpcs-core-plugin

[SQONE-691]: updated changelog
  changelog.md
Due: none

Path conditions:
  phpcs-core-plugin: any of: wp-content/plugins/core/*.php
  phpcs-core-theme: any of: wp-content/themes/core/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
