Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core-plugin, phpcs-core-theme, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# only show errors
skip_output:
  - meta
  - success
  - summary

# alias for the phpcs command
x-phpcs: &phpcs
  run: php -l -d error_reporting=24575 ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

# phpcs
pre-commit:
  parallel: true
  commands:
    phpcs-core-plugin:
      glob: "wp-content/plugins/core/*.php"
      <<: *phpcs
    phpcs-core-theme:
      glob: "wp-content/themes/core/*.php"
      <<: *phpcs
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      <<: *phpcs

# prefix with jira ticket
prepare-commit-msg:
  scripts:
    "prefix-with-jira-ticket.php":
      runner: php

enable border color and width on columns and group blocks
  wp-content/themes/core/theme.json
Due: none

Make 3rd arg for wp_localize_script an array, as expected
  wp-content/plugins/term-sorter/classes/Term_Sorter.php
Due: none

Updates: * WordPres core to 6.0.3 * Plugins: Gravity Forms v2.6.7, Limit Login Attempts Reloaded: v2.25.8, Yoast SEO: v19.8
  composer.json
  composer.lock
Due: none

Changelog entry.
  changelog.md
Due: none

Fix WordPress stubs patching in v6.0.2
  changelog.md
  dev/patches/wordpress-stubs.patch
Due: none

Update body lock/unlock functions to account for cases when `scroll-behavior: smooth;` is applied to the document via CSS.
  wp-content/themes/core/assets/js/src/utils/dom/body-lock.js
Due: none

Switch to MT-owned instance of a11y-dialog with updates for Safari browser version and scroll-behavior changes.
  package.json
  yarn.lock
Due: none

bug fix.
  wp-content/themes/core/components/dialog/js/dialog.js
Due: none

Add fix to changelog
  changelog.md
Due: none

Bugfix: Term Sorter (#1053)
  changelog.md
  wp-content/plugins/term-sorter/classes/Term_Sorter.php
Due: none

Remove Yoast filter that is removing schema
  changelog.md
  wp-content/plugins/core/src/Integrations/Yoast_SEO/Yoast_SEO_Subscriber.php
Due: phpcs-core-plugin

Bugfix: Remove Yoast filter (#1056)
  changelog.md
  wp-content/plugins/core/src/Integrations/Yoast_SEO/Yoast_SEO_Subscriber.php
Due: phpcs-core-plugin

Feature: Lefthook pre-commit merge marker (#1050)
  .lefthook/pre-commit/detect-merge-markers.sh
  changelog.md
  lefthook.yml
Due: none

Update tribe libs to v4.2
  composer.json
  composer.lock
Due: none

Add svg inline storage define
  local-config-sample.php
Due: none

Update gallery slider to use Gallery_Collection + code clean up.
  wp-content/plugins/core/src/Blocks/Types/Gallery_Slider/Gallery_Slider_Model.php
  wp-content/themes/core/components/blocks/gallery_slider/Gallery_Slider_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Update gallery grid to use Gallery_Collection + code clean up.
  wp-content/plugins/core/src/Blocks/Types/Gallery_Grid/Gallery_Grid_Model.php
  wp-content/themes/core/components/blocks/gallery_grid/Gallery_Grid_Controller.php
Due: phpcs-core-plugin, phpcs-core-theme

Update changelog
  changelog.md
Due: none

Add .rsyncignore file and update deploy workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .rsyncignore
Due: none

Update changelog.md
  changelog.md
Due: none

Convert .rsyncignore file to .deploy-ignore
  .deploy-ignore
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  changelog.md
Due: none

Add .deploy-ignore file and update deploy workflows (#1058)
  .deploy-ignore
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  changelog.md
Due: none

Adds conditional to the content's text component tag.
  wp-content/themes/core/components/content_block/Content_Block_Controller.php
Due: phpcs-core-theme

Add ability to hide taxonomies fields and manual overrides
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Rename field $show_override_options
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Add extra space
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

Update wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
Due: phpcs-core-plugin

Update spacing and change assertion type for test_it_does_not_have_taxonomy_filtering_manual_override
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
Due: none

Format
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
Due: none

Add ability to hide taxonomies fields and manual overrides (#1060)
  changelog.md
  dev/tests/tests/integration/Tribe/Project/Blocks/Middleware/Post_Loop/Field_Middleware/PostLoopFieldMiddlewareTest.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Config/Post_Loop_Field_Config.php
  wp-content/plugins/core/src/Blocks/Middleware/Post_Loop/Field_Middleware/Post_Loop_Field_Middleware.php
Due: phpcs-core-plugin

This check should be looking for an empty value.
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

This check should be looking for an empty value. (#1061)
  changelog.md
  wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php
Due: phpcs-core-theme

Adds conditional to the content's text component tag. (#1059)
  changelog.md
  wp-content/themes/core/components/content_block/Content_Block_Controller.php
Due: phpcs-core-theme

Removed trailing quotein aria-controls attribute.
  wp-content/plugins/core/src/Nav_Menus/Walker/Walker_Nav_Menu_Primary.php
Due: phpcs-core-plugin

Updated change log.
  changelog.md
Due: none
